<div class="container text-center">
    <h1>About page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, voluptas, beatae, voluptatum, atque maiores sed quo tempore aperiam illo temporibus fuga dolore ratione consectetur nesciunt delectus omnis magnam quam voluptate!
    </p>
</div>