<div class="container text-center">
    <h1>About page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, debitis, eos totam quas repellendus voluptate nisi reprehenderit est aut labore placeat sequi rerum voluptatibus alias voluptas doloremque iure esse quia!
    </p>
</div>